body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    margin-top: 10px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

img.imagen {
    width: 150px;
    border-radius: 50%;
}

body.dark {
    background-color: black;
    color: white;
}

body.dark button {
    background-color: black;
    color: white;
}
